<h1>Add a Family Member</h1>

<%= simple_form_for @family_member do |form| %>
 
 <%= form.input :name, label: "Name" %>
 <%= form.input :age, label: "Age" %>
 <%= form.input :kinship, :collection => %w[Grandma Grandpa Uncle Aunt Cousin Brother Sister Father Mother], label: "Kinship"  %>
 <%= form.input :city, label: "City" %>
 <%= form.input :description, label: "Tell us about you!" %>
 <%= form.input :image, as: :file, label: "Image of you:" %>
 <%= form.button :submit %>
<% end %>
