<h1><%= @family_member.name %></h1>

<div class="card-product">
  <img src="https://frontiersinblog.files.wordpress.com/2020/04/frontiers-psychology-free-from-dance-alternative-interaction-grandchildren-grandparents.jpg?w=1024" />
  <div class="card-product-infos">
    <h2><%= @family_member.name %></h2>
    <p><%= @family_member.age %></p>
    <p><%= @family_member.kinship %></p>
    <p><%= @family_member.description %></p>
  </div>
</div>

<% link_to "Book Relative", new_family_member_booking_path(@family_member) %>
