<h1><%= @family_member.name %></h1>

<div class="card-product mt-10">
  <img src="https://frontiersinblog.files.wordpress.com/2020/04/frontiers-psychology-free-from-dance-alternative-interaction-grandchildren-grandparents.jpg?w=1024" />
  <div class="card-product-infos">
    <h2><%= @family_member.name %></h2>
    <p><%= @family_member.age %></p>
    <p><%= @family_member.kinship %></p>
    <p><%= @family_member.description %></p>
    </div>
</div>

<div class="card-product mt-10">
  <div class="card-product-infos">
    <p>ratings go here</p>
    <div>
    <i class="fas fa-star" style="color: #F9C659"></i>
    <i class="fas fa-star" style="color: #F9C659"></i>
    <i class="fas fa-star" style="color: #F9C659"></i>
    <i class="fas fa-star" style="color: #F9C659"></i>
    <i class="fas fa-star" style="color: #F9C659"></i>
    </div>
  </div>
</div>

<%= link_to "Book Relative", new_family_member_booking_path(@family_member), class: "btn btn-info mt-3 ml-3"  %>
