<div class="container d-flex bg-white booking-container" style="justify-content: space-between">
  <div class="card booking-card" style="width: 30rem;">
    <%= cl_image_tag @family_member.image.key, class: "card-img-top" %>
    <div class="card-body">
      <p class="card-text"><h2><%= @family_member.name %></h2>
        <p><%= @family_member.age %></p>
        <p><%= @family_member.kinship %></p>
        <p><%= @family_member.description %></p></p>
    </div>
  </div>

  <div class="new-booking-wrap d-flex" style="align-items: center;">
    <div class="new-booking column">
      <h1>Create New Booking</h1>

      <%= simple_form_for [@family_member, @booking] do |f|%>
      <%#= f.association :family_member %>
      <%= f.input :start_date, class: "booking-inputs"%>
      <%= f.input :end_date, class: "booking-inputs"%>
      <%= f.submit class: "btn btn-ghost"%>
      <% end %>
    </div>
  </div>
</div>

