<div class="container d-flex align-items-center justify-content-center" id="homepage-box">
  <div class="form-group row">
  <%= form_tag family_members_path, method: :get do %>
  <%= label :kinship, 'Find' %>
  <%= select_tag :kinship, raw(
    "<option value='Grandma'>Grandmas</option>
      <option value='Grandpa'>Grandpas</option>
      <option value='Uncle'>Uncles</option>
      <option value='Aunt'>Aunts</option>
      <option value='Cousin'>Cousins</option>
      <option value='Brother'>Brothers</option>
      <option value='Sister'>Sisters</option>
      <option value='Father'>Fathers</option>
      <option value='Mother'>Mothers</option>"
    ) %>
    <%= label :query, 'in' %>
    <%= text_field_tag :query %>
    <%= submit_tag("Search!") %>
  <% end %>
</div>

</div>

<div class="container d-flex flex-column" id="featured-relatives">
<p class="row justify-content-center">Lacking some support? We can help! Relatives is a platform for hiring the family members you wish you had. </p>
<div class="row justify-content-around">
<div class="card" style="width: 18rem;">
  <%= image_tag "dad.jpg", class: "card-img-top"%>
  <div class="card-body">
    <h5 class="card-title">Excellent Fathers</h5>
    <p class="card-text">Emotionally available, good at operating a grill, great at jokes! </p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <%= image_tag "grandma.jpg", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">Grandmas Who Take No Shit</h5>
    <p class="card-text">Useless boyfriend? Hair getting too long? Our acerbic Grannies will tell you how it is.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <%= image_tag "coolguy.jpg", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">Tough Older Siblings</h5>
    <p class="card-text">Hire one of our menacing teenagers to eradicate your child's bully the old fashioned way.</p>
  </div>
</div>
</div>

</div>
